.btn-default {
  color: #000;
  background-color: white;
  border-color: white;
  border-radius: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 5px;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  border-radius: 5px;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  border-radius: 5px;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 5px;
}
